

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.custom-container{
  margin: 0 18px;
}


.home .top-bar{
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: space-between;
}

.home .top-bar p{
  font-weight: 600;
  font-size: 18px;
  color: #279636;
}

.home .hero-section{
  margin-top: 30px;
}

.home .hero{
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  padding: 18px 25px;
  border-radius: 5px;
  
}

.home .hero-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.home .hero-info p{
  font-weight: 600;
  font-size: 12px;

}

.home .hero-info button{
  padding: 8px 52px;
  
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.hero:nth-child(1){
  background-color: #D3F2D8;
}

.hero:nth-child(1) p{
  color: #279636;
}

.hero:nth-child(1) button{
  background: #7CC259;
}


.hero:nth-child(2){
  background-color: #E4DBEE;
}

.hero:nth-child(2) p{
  color: #9773BF;
}

.hero:nth-child(2) button{
  background: #9773BF;
}


.hero:nth-child(3){
  background-color: #FAEAC9;
}

.hero:nth-child(3) p{
  color: #ECAD2F;
}

.hero:nth-child(3) button{
  background: #ECAD2F;
}




/* form-section */

form{
  margin-top: 10px;
}
.top-nav{
  background-color: #7CC259;
  padding: 18px 0;
}

.top-nav .custom-container{
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  position: relative;
}

.title-alone{
  text-align: center;
  color: #FFFFFF;
}
.top-nav .custom-container p{
  /* margin-right: 75px */
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

form select{
  width: 100%;
  padding: 15px;
  border: 1px solid #595959;
  border-radius: 5px;
}

form input{
  width: 100%;
}

.upload-btn{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D3F2D8;
  height: 250px;
  border-radius: 5px;
}

.dot-border{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 2px dashed #3ABA4D;
  min-width: 75%;
  padding:  50px 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  color: #279636;
}

.up-image{
  margin-top: 50px;
  width: 100%;
}

.uploaded-image {
  position: relative;
}

.uploaded-image button{
  position: absolute;
  top: 60px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.btn-next{
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #7CC259;
  border: none;
  border-radius: 5px;
}
.btn-prev{
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
  color: #7CC259;
  background-color: #fff;
  border: 2px solid #7CC259;
  border-radius: 5px;
}

input{
  width: 100%;
  padding: 18px 15px;
  margin-bottom: 16px;
  border: 1px solid #BCBCBC;
  border-radius: 5px;
}

textarea{
  width: 100%;
  padding: 10px;
  height: 150px;
}

/* form sectiom 3 */

.questions{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.question{
  text-align: center;
  margin-bottom: 5px;
  background: #F4F4F4;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 28px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.question p{
  font-size: 14px;
  color: #484848;
  margin-bottom: 15px;
}

.options{
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  width: 100%;
}

.option{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.option input{
  margin: 0;
  accent-color: green;
  transform: scale(1.8);
}


/* page four */

.done-section{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 60vh;
 gap: 20px;
 font-weight: 700;
 font-size: 18px;
color: #279636;
}

/* vegy-info */

.vegyFeatures td{
  font-size: 13px;
  font-weight: 600;
}

.vegyFeatures th, .vegy-title{
  color: #279636;
}

li{
  font-size: 14px;
  margin-bottom: 6px;
}


/* custom radio */


.color-options{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-left: 20px;
  
}


.color-options label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #333;

}

.selected {
  outline: solid  #279636;
  outline-offset: 2px;
}


